<div class="container">
    <div>
    <h2>Modify :</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Motor</label>
    <input readonly type="text" [(ngModel)]="currentMotors.idMotors" name="idMotors" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Name</label>
    <input type="text"[(ngModel)]= "currentMotors.nomMotors"
    name="nomMotors" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Price</label>
    <input type="number" [(ngModel)]= "currentMotors.prixMotors"
    name="prixMotors" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date </label>
<input type="date" [ngModel]="currentMotors.dateCreation | date: 'yyyy-MM-dd'"
(ngModelChange)=" currentMotors.dateCreation= $event"
 name="dateCreation" class="form-control">
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <label>Types :</label>
    <select class="form-control form-control-lg" id="idTyp" name="idTyp"
    [(ngModel)]="updatedTypId">
    <option *ngFor="let typ of types" [value]="typ.idTyp" >
    {{typ.nameTyp}}
    </option>
    </select>
</div>
<div class="col-sm-16 col-md-16 col-lg-16">
    <label class="mb-2">Image :</label>
    <input type="file" (change)="onImageUpload($event)" class="form-control">
    </div>
    <div class="mt-2">
        <button type="submit" (click)="onAddImageMotor()" class="btn
        btn-success">Ajouter Image</button>
        </div>
        
<div class="col-sm-16 col-md-16 col-lg-16">
    <img [src]="myImage" class="card-img-top img-fluid rounded-start"
    style="width: 500px; height: 300px" />
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
        <table class="table table-striped">
        <thead>
        <tr> <th>Images</th> </tr>
        </thead>
        <tbody *ngFor="let img of currentMotors.images">
            <tr>
            <td><img class="card-img-top img-responsive"
            src = "{{'data:' + img.type + ';base64,' + img.image}}"
            style = "height :50px;width:100px"></td>
            <td style="width:20%" ><a class="btn btn-danger"
                (click)="supprimerImage(img)">Supprimer</a></td>
                
            </tr>
            </tbody>
            </table>
            </div>
            </div>
    
<div class="mt-2">
<button type="submit" (click)="updateMotors()" class="btn btn-success">Modify</button>
</div>
</form>

</div>